flask
flask_login
flask_sqlalchemy
flask_mail
sqlalchemy
werkzeug
python_dotenv
stripe
email_validator
gunicorn
psycopg2_binary
faker
flask 
flask-sqlalchemy 
python-dotenv 
openai
dotenv
pdfkit
threading
tenacity
cachetools